body, html{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;/* proporção do eixo x */
    transform-style: preserve-3d; /*mexe nos elementos filhos*/
}

.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateZ(-1px)scale(1.5);
}

.conteudo {
    position: absolute; /* mexer com o elemento a vontade na pela tele*/
    top: 25%;
    width: 80%;
    padding: 20px 0;
    background-color: rgba(73, 68, 30, 0.5);
    color: white;
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 15px 10px 15px black;
}   

.fundo1::before{
    background-image: url(/img/img1.jpg);
}

.fundo2::before{
    background-image: url(/img/img2.jpg);
}

